{% extends 'reviewapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
		
	{% block content %}
	<main>
		<section class="hero_single version_3">
			<div class="wrapper">
				<div class="container">
					<h3>Search Reviews by Categories</h3>
					<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
						<form method="post" action="grid-listings-filterstop.html">
							<div class="row g-0 custom-search-input-2">
								<div class="col-lg-7">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Search for a company...">
										<i class="icon_search"></i>
									</div>
								</div>
								<div class="col-lg-3">
									<select class="wide">
										<option>All Categories</option>	
										<option>Shops</option>
										<option>Hotels</option>
										<option>Restaurants</option>
										<option>Bars</option>
										<option>Events</option>
										<option>Fitness</option>
									</select>
								</div>
								<div class="col-lg-2">
									<input type="submit" value="Search">
								</div>
							</div>
							<!-- /row -->
						</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->
		
		<div class="container margin_60_35">
			<div class="main_title_2">
				<h1>Top Categories</h1>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_1.svg" width="65" height="65" alt="">
						<h3>Clothing</h3>
						<ul class="clearfix">
							<li><strong>1,023</strong> Results</li>
							<li><strong>2,435</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_2.svg" width="65" height="65" alt="">
						<h3>Hotels</h3>
						<ul class="clearfix">
							<li><strong>856</strong> Results</li>
							<li><strong>455</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="rgrid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_3.svg" width="65" height="65" alt="">
						<h3>Restaurants</h3>
						<ul class="clearfix">
							<li><strong>2,400</strong> Results</li>
							<li><strong>1,323</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_4.svg" width="65" height="65" alt="">
						<h3>Bars</h3>
						<ul class="clearfix">
							<li><strong>854</strong> Results</li>
							<li><strong>345</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_8.svg" width="65" height="65" alt="">
						<h3>Electronics</h3>
						<ul class="clearfix">
							<li><strong>1,210</strong> Results</li>
							<li><strong>530</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_5.svg" width="65" height="65" alt="">
						<h3>Beauty</h3>
						<ul class="clearfix">
							<li><strong>1,343</strong> Results</li>
							<li><strong>315</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_6.svg" width="65" height="65" alt="">
						<h3>Fitness</h3>
						<ul class="clearfix">
							<li><strong>678</strong> Results</li>
							<li><strong>123</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
				<div class="col-lg-3 col-6">
					<a href="grid-listings-filterstop.html" class="box_cat_home">
						<img src="img/icon_home_7.svg" width="65" height="65" alt="">
						<h3>Doctors</h3>
						<ul class="clearfix">
							<li><strong>378</strong> Results</li>
							<li><strong>560</strong><i class="icon-comment"></i></li>
						</ul>
					</a>
				</div>
			</div>
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
			<div class="container margin_60_35">
				<div class="main_title_3 text-center">
					<h2>Vanno companies categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-10 col-lg-12">
						<div class="all_categories clearfix add_bottom_30">
							<ul>
								<li><a href="reviews-page.html"><strong>543</strong>Cars, motorbikes &amp; accessories</a></li>
								<li><a href="reviews-page.html"><strong>32</strong>Clothing</a></li>
								<li><a href="reviews-page.html"><strong>213</strong>Floristry</a></li>
								<li><a href="reviews-page.html"><strong>54</strong>Books</a></li>
								<li><a href="reviews-page.html"><strong>225</strong>Office &amp; business</a></li>
								<li><a href="reviews-page.html"><strong>432</strong>Computers &amp; electronics</a></li>
								<li><a href="reviews-page.html"><strong>244</strong>Chemists &amp; cosmetics</a></li>
								<li><a href="reviews-page.html"><strong>243</strong>Precious metals</a></li>
								<li><a href="reviews-page.html"><strong>78</strong>Energy</a></li>
								<li><a href="reviews-page.html"><strong>898</strong>Finance &amp; insurance</a></li>
								<li><a href="reviews-page.html"><strong>657</strong>Photo, print &amp; book-on-demand</a></li>
								<li><a href="reviews-page.html"><strong>53</strong>Gardening supplies</a></li>
								<li><a href="reviews-page.html"><strong>654</strong>Gifts</a></li>
								<li><a href="reviews-page.html"><strong>90</strong>Household goods</a></li>
								<li><a href="reviews-page.html"><strong>89</strong>Luggage, bags &amp; leather goods</a></li>
								<li><a href="reviews-page.html"><strong>789</strong>Food</a></li>
								<li><a href="reviews-page.html"><strong>45</strong>Pharmaceuticals</a></li>
								<li><a href="reviews-page.html"><strong>122</strong>Furniture &amp; decoration</a></li>
								<li><a href="reviews-page.html"><strong>796</strong>Telecommunication</a></li>
								<li><a href="reviews-page.html"><strong>56</strong>Music &amp; film</a></li>
								<li><a href="reviews-page.html"><strong>423</strong>Opticians</a></li>
								<li><a href="reviews-page.html"><strong>331</strong>Travel &amp; hotels</a></li>
								<li><a href="reviews-page.html"><strong>32</strong>Tickets</a></li>
								<li><a href="reviews-page.html"><strong>432</strong>Jewellery &amp; watches</a></li>
								<li><a href="reviews-page.html"><strong>21</strong>Shoes</a></li>
								<li><a href="reviews-page.html"><strong>90</strong>Sports</a></li>
								<li><a href="reviews-page.html"><strong>85</strong>Pet supplies</a></li>
								<li><a href="reviews-page.html"><strong>65</strong>Consulting</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
		<div class="call_section_2">
		    <div class="wrapper">
                <div class="container">
                    <h3>Get started now with Vanno...improve your business.</h3>
                    <a class="btn_1 medium">Join Vanno Now!</a>
                </div>
			</div>
		</div>
		<!-- /call_section_2 -->
	</main>
	<!-- /main -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.js"></script>
	<script src="js/functions.js"></script>
	<script src="assets/validate.js"></script>

	{% endblock %}

</body>
</html>