{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>AIaaS</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body>
		
	<div id="page">
        <!-- HEADER -->
        {% include 'reviewapp/header.html' %}
        <!-- END HEADER -->

        <!-- MAIN CONTENT -->
        <main>
            {% block content %}
			<main>
				<section class="hero_single version_1">
					<div class="wrapper">
						<div class="container">
							<h3>Every Review is an Experience!</h3>
							<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
							<div class="row justify-content-center">
								<div class="col-lg-9">
								<form method="post" action="grid-listings-filterstop.html">
									<div class="row g-0 custom-search-input-2">
										<div class="col-lg-7">
											<div class="form-group">
												<input class="form-control" type="text" placeholder="What are you looking for...">
												<i class="icon_search"></i>
											</div>
										</div>
										<div class="col-lg-3">
											<select class="wide">
												<option>All Categories</option>	
												<option>Shops</option>
												<option>Hotels</option>
												<option>Restaurants</option>
												<option>Bars</option>
												<option>Events</option>
												<option>Fitness</option>
											</select>
										</div>
										<div class="col-lg-2">
											<input type="submit" value="Search">
										</div>
									</div>
									<!-- /row -->
								</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /hero_single -->
			</main>
			<!-- /main -->
		
            <!-- Dynamic content goes here -->
            {% endblock %}
        </main>
        <!-- END MAIN CONTENT -->

        <!-- FOOTER -->
        {% include 'reviewapp/footer.html' %}
        <!-- END FOOTER -->
    </div>

	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'assets/validate.js' %}"></script>

</body>
</html>