{% extends 'reviewapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
	{% block content %}
	<div id="page" class="theia-exception">
	
	<main>
		<div id="results">
		   <div class="container">
			   <div class="row justify-content-between">
				   <div class="col-lg-3 col-md-4 col-10">
					   <h1><strong>145</strong> result for "All categories"</h1>
				   </div>
				   <div class="col-xl-5 col-md-6 col-2">
					   <a href="#0" class="search_mob btn_search_mobile"></a> <!-- /open search panel -->
						<div class="row g-0 custom-search-input-2 inner">
							<div class="col-lg-7">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Search reviews for a company">
									<i class="icon_search"></i>
								</div>
							</div>
							<div class="col-lg-4">
								<select class="wide">
									<option>All Categories</option>	
									<option>Shops</option>
									<option>Hotels</option>
									<option>Restaurants</option>
									<option>Bars</option>
									<option>Events</option>
									<option>Fitness</option>
								</select>
							</div>
							<div class="col-xl-1 col-lg-1">
								<input type="submit" value="Search">
							</div>
						</div>
				   </div>
			   </div>
			   <!-- /row -->
				<div class="search_mob_wp">
					<div class="custom-search-input-2">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Search reviews...">
							<i class="icon_search"></i>
						</div>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Where">
							<i class="icon_pin_alt"></i>
						</div>
						<select class="wide">
							<option>All Categories</option>	
							<option>Shops</option>
							<option>Hotels</option>
							<option>Restaurants</option>
							<option>Bars</option>
							<option>Events</option>
							<option>Fitness</option>
						</select>
						<input type="submit" value="Search">
					</div>
				</div>
				<!-- /search_mobile -->
		   </div>
		   <!-- /container -->
	   </div>
	   <!-- /results -->
		
		<div class="container margin_60_35">
			<div class="row">
				<aside class="col-lg-3" id="sidebar">
					<div id="filters_col">
						<a data-bs-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
						<div class="collapse show" id="collapseFilters">
							<div class="filter_type date_filter">
								<h6>Date</h6>
								<ul>
									<li>
										<label class="container_radio">All
											<input type="radio" id="all_2" name="filters_listing" value="all" checked data-filter="*" class="selected">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_radio">Latest
											<input type="radio" id="latest" name="filters_listing" value="latest" data-filter=".latest">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_radio">Oldest
											<input type="radio" id="oldest" name="filters_listing" value="oldest" data-filter=".oldest">
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>Category</h6>
								<ul>
									<li>
										<label class="container_check">Restaurants <small>43</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Shops <small>33</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Bars <small>12</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Events <small>44</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
							<div class="filter_type">
								<h6>Rating</h6>
								<ul>
									<li>
										<label class="container_check">Superb 9+ <small>34</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Very Good 8+ <small>21</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Good 7+ <small>15</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
									<li>
										<label class="container_check">Pleasant 6+ <small>34</small>
											<input type="checkbox">
											<span class="checkmark"></span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<!--/collapse -->
					</div>
					<!--/filters col-->
				</aside>
				<!-- /aside -->

				<div class="col-lg-9">
					
					<div class="isotope-wrapper">
						<div class="row">

							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar1.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Jhon Doe</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Avesome Experience"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te.Viderer petentium cu his. Tollit molestie suscipiantur his et...</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar2.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Marika</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Great products"</h4>
									<p>Et nec tantas accusamus salutatus</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar3.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Lukas Lee</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Excellent Support"</h4>
									<p>Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->
							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar4.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Mark Twain</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Shipping Very Fast"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar5.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Margaret</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Perfect"</h4>
									<p>Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar6.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Tom Jones</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Everything good"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->	
							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar7.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Jhon Doe</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Avesome Experience"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te.Viderer petentium cu his. Tollit molestie suscipiantur his et...</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar8.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Marika</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Great products"</h4>
									<p>Et nec tantas accusamus salutatus</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item latest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Lukas Lee</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Excellent Support"</h4>
									<p>Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->
							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar3.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Mark Twain</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Shipping Very Fast"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar6.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star-half"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Margaret</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Perfect"</h4>
									<p>Mucius doctus constituto pri at, ne cetero postulant pro. At vix utinam corpora, ea oblique moderatius usu. Vix id viris consul honestatis, an constituto deterruisset consectetuer pro.....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->

							<div class="col-md-6 isotope-item oldest">
								<div class="review_listing">
									<div class="clearfix add_bottom_15">
										<figure><img src="img/avatar8.jpg" alt=""></figure>
										<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
										<small>Shops</small>
									</div>
									<h3><strong>Tom Jones</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
									<h4>"Everything good"</h4>
									<p>Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut....</p>
									<ul class="clearfix">
										<li><small>Published: 26.08.2018</small></li>
										<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
									</ul>
								</div>
							</div>
							<!-- /review_listing grid -->	
						</div>
						<!-- /row -->
						</div>
						<!-- /isotope-wrapper -->

						<p class="text-center"><a href="#0" class="btn_1 rounded add_top_15">Load more</a></p>

				</div>
				<!-- /col -->
			</div>		
		</div>
		<!-- /container -->
		
	</main>
	<!--/main-->
	
	<!-- Masonry Filtering -->
	<script src="js/isotope.min.js"></script>
	<script>
	$(window).on('load',function(){
	  var $container = $('.isotope-wrapper');
	  $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
	});

	$('.date_filter').on( 'click', 'input', 'change', function(){
	  var selector = $(this).attr('data-filter');
	  $('.isotope-wrapper').isotope({ filter: selector });
	});
	</script>

  {% endblock %}
</body>
</html>