{% extends 'reviewapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body>

	{% block content %}
		
	<div id="page">
		
	
	<main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Every Review is an Experience!</h3>
					<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
						<form method="post" action="grid-listings-filterstop.html">
							<div class="row g-0 custom-search-input-2">
								<div class="col-lg-7">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="What are you looking for...">
										<i class="icon_search"></i>
									</div>
								</div>
								<div class="col-lg-3">
									<select class="wide">
										<option>All Categories</option>	
										<option>Shops</option>
										<option>Hotels</option>
										<option>Restaurants</option>
										<option>Bars</option>
										<option>Events</option>
										<option>Fitness</option>
									</select>
								</div>
								<div class="col-lg-2">
									<input type="submit" value="Search">
								</div>
							</div>
							<!-- /row -->
						</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->
		
		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Top Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					<a href="all-categories.html">View all</a>
				</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_1.jpg' %}" alt="">
							<div class="info">
								<small>122 Results</small>
								<em><i class="icon-comment"></i> 356 Reviews</em>
								<h3>Clothing</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_2.jpg' %}" alt="">
							<div class="info">
								<small>245 Results</small>
								<em><i class="icon-comment"></i> 123 Reviews</em>
								<h3>Hotels</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_3.jpg' %}" alt="">
							<div class="info">
								<small>95 Results</small>
								<em><i class="icon-comment"></i> 245 Reviews</em>
								<h3>Restaurants</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_4.jpg' %}" alt="">
							<div class="info">
								<small>123 Results</small>
								<em><i class="icon-comment"></i> 187 Reviews</em>
								<h3>Bars</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_5.jpg' %}" alt="">
							<div class="info">
								<small>92 Results</small>
								<em><i class="icon-comment"></i> 221 Reviews</em>
								<h3>Electronics</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="{% static 'img/box_cat_home_6.jpg' %}" alt="">
							<div class="info">
								<small>92 Results</small>
								<em><i class="icon-comment"></i> 323 Reviews</em>
								<h3>Beauty</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
		
		<div class="bg_color_1">
		<div class="container margin_60">
			<div class="main_title_3">
				<h2>Latest Reviews</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				<a href="reviews-page.html">View all</a>
			</div>
			
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="{% static 'img/avatar1.jpg' %}" alt=""></figure>
							<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><em>4.50/5.00</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>Jhon Doe</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
						<h4>"Avesome Experience"</h4>
						<p>Et nec tantas accusamus salutatus, sit commodo veritus te</p>
						<ul class="clearfix">
							<li><small>Published: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="{% static 'img/avatar2.jpg' %}" alt=""></figure>
							<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>Marika</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
						<h4>"Great products"</h4>
						<p>Et nec tantas accusamus salutatus, sit commodo veritus te</p>
						<ul class="clearfix">
							<li><small>Published: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="{% static 'img/avatar3.jpg' %}" alt=""></figure>
							<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>Lukas Lee</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
						<h4>"Excellent Support"</h4>
						<p>Et nec tantas accusamus salutatus, sit commodo veritus te</p>
						<ul class="clearfix">
							<li><small>Published: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="{% static 'img/avatar4.jpg' %}" alt=""></figure>
							<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><em>4.50/5.00</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>Margaret</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
						<h4>"Perfect"</h4>
						<p>Et nec tantas accusamus salutatus, sit commodo veritus te</p>
						<ul class="clearfix">
							<li><small>Published: 26.08.2018</small></li>
							<li><a href="reviews-page.html" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>
				
				<div class="item">
					<div class="review_listing">
						<div class="clearfix">
							<figure><img src="{% static 'img/avatar5.jpg' %}" alt=""></figure>
							<span class="rating"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star empty"></i><em>4.50/5.00</em></span>
							<small>Shops</small>
						</div>
						<h3><strong>Mark Twain</strong> reviewed <a href="reviews-page.html">Fnac</a></h3>
						<h4>"Shipping Very Fast"</h4>
						<p>Et nec tantas accusamus salutatus, sit commodo veritus te</p>
						<ul class="clearfix">
							<li><small>Published: 26.08.2018</small></li>
							<li><a href="#0" class="btn_1 small">Read review</a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /carousel -->
		</div>
		<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
		
		<div class="call_section_3">
			<div class="wrapper">
				<div class="container clearfix">
					<div class="col-lg-5 col-md-7 float-end">
						<h3>Let's Help You</h3>
						<p>Vanno is a review platform open to everyone. Share your experiences to help others make better choices, and help companies up their game. Our mission is to bring people and companies together to create experiences for everyone.</p>
						<p><a class="btn_1 add_top_10 wow bounceIn" href="pricing.html" data-wow-delay="0.5s">Join Vanno Now!</a></p>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /call_section -->
		
	</main>
	<!-- /main -->

	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="{% static 'js/common_scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'assets/validate.js' %}"></script>
	{% endblock %}
</body>
</html>