{% extends 'reviewapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
	{% block content %}
	<div id="page">
	
	<main class="margin_main_container">
		<div class="user_summary">
			<div class="wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<figure>
								<img src="img/avatar4.jpg" alt="">
							</figure>
							<h1>Mark Steinberg</h1>
							<span>United States</span>
						</div>
						<div class="col-md-6">
							<ul>
								<li>
									<strong>3</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Reviews written by you"><i class="icon_star"></i> Reviews</a>
								</li>
								<li>
									<strong>12</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who have read your reviews"><i class="icon-user-1"></i> Reads</a>
								</li>
								<li>
									<strong>36</strong>
									<a href="#0" class="tooltips" data-bs-toggle="tooltip" data-placement="bottom" title="Number of people who found your review useful"><i class="icon_like_alt"></i> Useful</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /container -->
			</div>
		</div>
		<!-- /user_summary -->
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-8">
					<div class="settings_panel">
					    <h3>Personal settings</h3>
					    <hr>
						<div class="form-group">
							<label>Edit Profile text</label>
							<textarea class="form-control" style="height: 180px;" placeholder="Your profile"></textarea>
						</div>
						<div class="form-group">
							<label>Edit Photo</label>
							<div class="fileupload"><input type="file" name="fileupload" accept="image/*"></div>
						</div>
						<div class="form-group">
							<label>Edit Email</label>
							<input class="form-control" type="email" placeholder="mark@domani.com">
						</div>
						<div class="form-group">
							<label>Edit Full name</label>
							<input class="form-control" type="text" placeholder="Mark Steinberg">
						</div>
						<div class="form-group">
							<label>Edit City</label>
							<input class="form-control" type="text" placeholder="Malaga">
						</div>
						<div class="form-group">
							<label>Edit Country</label>
							<input class="form-control" type="text" placeholder="Malaga">
						</div>
						<p class="text-end"><a class="btn_1 small add_top_15" href="#0">Save personal info</a></p>
					</div>
					<!-- /settings_panel -->
					<div class="settings_panel">
					    <h3>Change password</h3>
					    <hr>
						<div class="form-group">
							<label>Current Password</label>
							<input class="form-control" type="password" id="password">
						</div>
						<div class="form-group">
							<label>New Password</label>
							<input class="form-control" type="password" id="password1">
						</div>
						<div class="form-group">
							<label>Confirm Password</label>
							<input class="form-control" type="password" id="password2">
						</div>
						<div id="pass-info" class="clearfix"></div>
						<p class="text-end"><a class="btn_1 small" href="#0">Save password</a></p>
					</div>
					<!-- /settings_panel -->
				</div>
				<!-- /col -->
				<div class="col-lg-4" id="sidebar">
					<div class="box_general">
						<h5>Delete account</h5>
						<p>At nec senserit aliquando intellegat, et graece facilisis pro. Per in ridens sensibus interesset, eos ei nonumes incorrupte, iriure diceret an eos.</p>
						<a href="#" class="btn_1 small">Delete account</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	{% endblock %}
</body>
</html>